<tr>
  <td><%= pitch_booking.time_start&.strftime("%H:%M - %d/%m") %></td>
  <td><%= pitch_booking.time_end&.strftime("%H:%M - %d/%m") %></td>
  <td><%= pitch_booking.total_price %></td>
  <td><%= I18n.t("pitch_booking.statuses.#{pitch_booking.status}") %></td>
  <td><%= pitch_booking.des %></td>
  <td><%= pitch_booking.phone %></td>
  <td><%= pitch_booking.name %></td>
  <td><%= pitch_booking.pitch_name %></td>
  <td><%= pitch_booking.user_name %></td>
  <td>
    <% if pitch_booking.pending_status? %>
      <%= form_with(model: @pitch_booking, url: admin_pitch_booking_url(pitch_booking), method: :patch, remote: true) do |f| %>
        <%= f.select :status, options_for_select(pitch_booking_status_options) %>
        <%= f.submit 'Cập nhật' %>
      <% end %>
    <% elsif pitch_booking.approved_status? %>
      <div><%= t "admin.action.approved_status" %></div>
    <% elsif %>
      <div><%= t "admin.action.canceled_status" %></div>
    <% end %>
  </td>
</tr>
