
<table class="table text-center">
  <thead>
    <tr>
      <th><%= t "table.id" %></th>
      <th><%= t "table.name_pitch" %></th>
      <th><%= t "table.rate" %></th>
      <th><%= t "table.pitch_type" %></th>
      <th><%= t "table.hour_price" %></th>
      <th><%= t "table.action" %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @pitches %>
  </tbody>
</table>
<%== pagy_bootstrap_nav(@pagy) %>
