<tr>
  <td><%= user.id %></td>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= user.phone %></td>
  <td><%= user.address %></td>
  <td><%= link_to t("btn.detail"), admin_user_path(user), class: "btn btn-primary" %>
  </tr>
